html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@media (min-width: 575.98px) {
    .main-content {
        width: 100%
    }
}

@media (min-width: 767.98px) {
    .main-content {
        width: 100%
    }
}

@media (min-width: 991.98px) {
    .main-content {
        width: 90%
    }
}

@media (min-width: 1199.98px) {
    .main-content {
        width: 70%
    }
}

@media (min-width: 1399.98px) {
    .main-content{
        width: 50%
    }
}

.main-content {
    text-align: justify;
    margin: auto;
    padding-left : 3%;
    padding-right : 3%;
    padding-bottom : 1%;
    padding-top : 1%;
    box-shadow: 3px 3px 10px #DDD;
}

img {
    box-shadow: 3px 3px 10px #DDD;
    width: 100%;
}
li{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.main-content > table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
.main-content > th, td{
    padding: 10px;
}
.main-content > table{
    width: 100%;
}
#main-logo{
    width: 100%;
    box-shadow: none
}
a, a:visited{
    color: #000
}

#icon{
    position: absolute;
    position: fixed;
    top: 5%;
    right: 95.2%;
    color: red


}

.dropbtn{
    position: fixed;
    top: 5%;
    right: 95%;
    height: 12px;
    width: 12px;
    background: transparent;
    border: none !important;
    cursor: pointer;
    

}
    
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: fixed;
    display: inline-block;
    top : 10%;  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .dropdown-content{
    cursor: pointer;
    
  }
  
#speedgif {
    object-fit :cover;
    height: 400px;
    width: 1000px;
    width: 190px; 
    height: 300px;
    position: absolute;
    left: 50%;
    
}

#nospeedgif {
    object-fit :cover;
    height: 400px;
    width: 225px;
    width: 190px; 
    height: 300px;
}    

